.container {
  padding: 3rem 0 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: var(--green);
  letter-spacing: 0.2rem;
  margin-top: 2rem;
}

.paragraph {
  color: var(--green);
  max-width: 40rem;
  padding-top: 2rem;
  font-weight: 400;
  font-size: 1.5rem;
}

.button{
  background-color: var(--red);
}

.width{
  min-width: 10rem;
}
