.profile-title{
    color: #455d58;
    padding-top: 3rem;
    letter-spacing: .2rem;
    text-align: center;
}
.titleClass{
    font-size: 2.3rem;
    font-weight: 650;
    padding-bottom: 2rem;
}

.bold{
    font-weight: 600;
    color: black;
}