.container {
  padding-bottom: 2rem;
}
.title {
  font-size: 2.3rem;
  padding-top: 5rem;
  color: var(--green);
  font-weight: 650;
  text-align: center;
}

.title::after {
  content: "";
  display: block;
  width: 7rem;
  height: 0.1rem;
  background-color: var(--green);
  margin: 0 auto;
  margin-top: 2rem;
}
.quote {
  position: relative;
  margin-top: 3rem;
  left: 48.5%;
  color: var(--green);
  font-size: 2.8rem;
}
.center {
  text-align: center;
}
.star {
  color: var(--gold);
  padding-right: 0.2rem;
  font-size: 0.8rem;
}
.user {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 2rem;
}

.paragraph {
  max-width: 40rem;
  font-size: larger;
  font-weight: 300;
  margin: 2rem auto;
}
.name {
  color: var(--green);
  font-size: larger;
  font-weight: 600;
  margin-top: 0.5rem;
}
