.roomcard {
  transition: transform 0.3s ease;
}

.room-option:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease;
}

.body {
  min-height: 20rem;
  background-color: var(--green);
  color: var(--white);
}

.button{
  position: absolute !important;
  bottom: 1rem;
  left: 28%;
  background-color: transparent;
}
.img{
  object-fit: cover;
  height: 40vh;
}
@media (min-width: 768px) {
  .roomcard:hover {
    transition: none;
    transform: none;
  }
}
