.about {
    padding: 2rem 0;
  }
  
  .about-us-p {
    color: #455d58;
    max-width: 40rem;
    padding-top: 2rem;
    padding-left: 2rem;
    font-weight: 350;
  }

  .about-img {
    max-height: 20rem;
    object-fit: cover;
  }
  
  @media (max-width:500px) {
    .about-us-p{
        padding: 0;
    }
  }

  @media (max-width:800px) {
    .about-us-p{
        padding-top: 0;
    }
  }