.customise {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 0.5rem 1rem;
  color: var(--green);
  margin-top: 0.3rem;
}

.customise .logo {
  font-size: 1.5rem;
  color: var(--green);
}

.links {
  display: flex;
  align-items: center;
  font-size: small;
}

.item {
  margin: 0 2rem;
  letter-spacing: 0.1rem;
}

.book {
  display: flex;
  width: 6rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid transparent;
  background-color: var(--green);
  color: var(--white);
  transition: all 0.3s ease;
  letter-spacing: 1px;
  box-sizing: border-box;
}

.book:hover {
  background-color: transparent;
  border: 0.2rem solid var(--green);
  color: var(--green);
}

.nav .link.book::before {
  transform: scaleX(0);
}
