.title {
  font-family: "Cormorant Garamond", serif;
  font-size: 3rem;
  letter-spacing: 6px;
  color: #455d58;
  text-transform: uppercase;
  font-weight: 400;
  margin: 50px 0;
}

.font {
  font-weight: 350;
}
.outer {
  border: 1px solid black;
  padding: 1rem;
  border-radius: 0.5rem;
}

.error{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.container{
  padding: 2rem;
}

.color{
  color: #455d58;
}

.icon{
  margin: 1rem;
  font-size: 1.5rem;
  color: #455d58;
}
