.about {
    padding: 2rem 0;
  }
  
  .description {
    color: var(--green);
    max-width: 40rem;
    padding-top: 2rem;
    padding-left: 2rem;
    font-weight: 350;
  }

  .img {
    max-height: 20rem;
    object-fit: cover;
  }
  
  @media (max-width:500px) {
    .description{
        padding: 0;
    }
  }

  @media (max-width:800px) {
    .description{
        padding-top: 0;
    }
  }