.container {
  padding: 5rem;
  background-color: #455d58;
  color: aliceblue;
}
.title {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
}
.text{
  letter-spacing: 0.1rem;
}
.payment {
  list-style-type: none;
  display: flex;
  margin-left: -2rem;
}
.icons {
  padding: 0.5rem 1rem 0.5rem 0;
  font-size: 1.5rem;
}
.icons:hover {
  cursor: pointer;
  opacity: 0.5;
}

.anchor{
  color: inherit;
}

@media (min-width: 768px) {
  .left{
    margin-left: -3rem;
  }
}

@media (max-width: 350px) {
  .space{
    margin-left: -3rem;
  }
}