.info {
  padding: 5rem 0;
}
.city {
  font-weight: bold;
  font-size: large;
}
.description {
  margin-top: 0;
}
.text {
  max-width: 40rem;
  padding-left: 3rem;
  color: var(--green);
  font-weight: 350;
}

.lobby {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (min-width:1000px) {
  .description{
    margin-top: 4rem;
  }
}

@media (max-width:600px) {
  .text{
    margin-left: 0;
  }
}