.room-option{
  transition: transform 0.3s ease;
}

.room-option:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }

.room-option-body {
    min-height: 20rem;
    background-color: #455d58;
    color: aliceblue;
  }



@media (max-width: 768px) {
  .room-option:hover{
    transition:none;
    transform: none;
  }
}