.color{
    color: #455d58;
    border: 2px solid #455d58;
}
.color .card-text {
    white-space: pre-wrap;
    word-wrap: break-word;
  }
.structure-card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space between title/text and buttons */
}

.elements-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    margin-top: auto; /* Push to bottom */
}