@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root{
  --green: #455d58;
  --white: aliceblue;
  --red: #800020;
  --black: black;
  --gold: #FFD700;
}

html,
body {
  height: 100%;
  margin: 0;
}
body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #faf2f7;
}
