.reservations{
    padding: 7rem 2rem;
}
.reservation-title{
    color: #455d58;
    padding: 3rem 0; 
    letter-spacing: .2rem;
    text-align: center;
}
.reservation-card{
    max-width: 18rem;
    min-height: 8rem;
}
.test{
    margin: 0 auto;
}

